<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'home'">Main</a>
      <a mat-list-item
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'campaigns'">Campaigns</a>
      <a mat-list-item
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'messages'">Messages</a>
      <a mat-list-item
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'events'">Events</a>
      <a mat-list-item
         routerLinkActive="mat-accent"
         [routerLinkActiveOptions]="{exact: true}"
         [routerLink]="'templates'">Templates</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <button mat-stroked-button (click)="sidenav.toggle()">sidenav.toggle()</button>
    </p>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
