<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <button mat-raised-button color="primary" [routerLink]="['new-policy']">
      Add Policy
    </button>
    <button mat-raised-button [matMenuTriggerFor]="appMenu"
            [disabled]="!selection">
      Policy Actions
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="attachPolicy()"
              [disabled]="!selection">
        Attach
      </button>
      <button mat-menu-item
              [disabled]="!selection || selection.selected.length < 1">
        Detach
      </button>
      <button mat-menu-item
              (click)="showDeleteConfirmationPopup()"
              [disabled]="!selection">
        Delete
      </button>
    </mat-menu>
    <app-table-actions-management
      fxFlex fxLayout="row" fxLayoutAlign="end"
      [shownColumns]="shownColumns"
      (reloadTableEmit)="reloadTable()"
      (changeTableHeaderSettingEmit)="changeTableHeaderSetting($event)"
    >
    </app-table-actions-management>
  </div>
  <ng-container class="policies-table" *ngIf="policies$ | async as policies">
    <app-filterable-table
        [filterInputPlaceholder]="'Find policies by policy name'"
        [columnProperties]="columnProperties"
        [selectType]="'radio'"
        [contents]="policies"
        [selectable]=true
        (selectionChange)="onPoliciesSelectionChange($event)"
        [shownColumns]="shownColumns">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
