<div #dismissible>
  <app-dismissible-content (closeButtonClick)="closeButtonClick()">
  </app-dismissible-content>
</div>
<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <button mat-raised-button color="primary" (click)="addUser()">
      Add User
    </button>
    <button mat-raised-button color="warn" (click)="showDeleteConfirmationPopup()"
            [disabled]="!(selection && selection.selected.length)">
      Remove User<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span>
    </button>
    <app-table-actions-management
      fxFlex 
      fxLayout="row" 
      fxLayoutAlign="end"
      [shownColumns]="shownColumns"
      (reloadTableEmit)="reloadTable()"
      (changeTableHeaderSettingEmit)="changeTableHeaderSetting($event)"
    >
    </app-table-actions-management>
  </div>
  <ng-container class="users-table" *ngIf="users$ | async as users">
    <app-filterable-table
        [columnProperties]="columnProperties"
        [contents]="users"
        [selectable]=true
        (selectionChange)="onUsersSelectionChange($event)"
        [shownColumns]="shownColumns"
    >
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
