<div class="container ">
    <div *ngIf="preAuth; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <mat-card>
            <mat-card-content>
                <div *ngIf="failedAuth; then failAuthBlock else authingBlock"></div>
                <ng-template #authingBlock>
                    <mat-card-subtitle>One moment while we log you in...</mat-card-subtitle>
                    <div class="login-spinner-container">
                        <mat-progress-spinner
                                [diameter]="30"
                                [color]="'primary'"
                                [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </div>
                </ng-template>
                <ng-template #failAuthBlock>
                    <div class="failBlock">
                        <span class="title"><mat-card-title>Login failed :(</mat-card-title></span>
                        <mat-card-subtitle class="subtitle">Please try again</mat-card-subtitle>
                    </div>
                </ng-template>

            </mat-card-content>
        </mat-card>
    </ng-template>
    <ng-template #elseBlock>
        <!--make user/pass page here-->
        <div class="left-form-container">
            <mat-card>

                <div class="logo-container">
                    <img class="logo" src="../../../assets/img/perx_logo.png" alt="perx logo"/>
                </div>
                <mat-card-title>Log In</mat-card-title>
                <mat-card-content>
                    <form [formGroup]="loginFormGroup" (ngSubmit)="handleSubmit()">
                        <div>
                            <mat-form-field>
                                <mat-label>Account ID</mat-label>
                                <input matInput placeholder="Account ID" formControlName="accountID" required autocomplete="on">
                                <mat-error *ngIf="hasError('accountID', 'required')">Account ID is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" formControlName="userName" required autocomplete="username">
                                <mat-icon matSuffix></mat-icon>
                                <!--<mat-hint align="end">Not more than 60 characters long.</mat-hint>-->
                                <mat-error *ngIf="hasError('userName', 'required')">Username is required</mat-error>
                                <!--<mat-error *ngIf="hasError('userName', 'maxlength')">You have more than 60 characters</mat-error>-->
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" formControlName="password" required autocomplete="current-password"
                                       [type]="hidePw ? 'password' : 'text'">
                                <mat-icon matSuffix
                                          (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="hasError('userName', 'required')">Password is required</mat-error>
                            </mat-form-field>
                        </div>
                            <button class="log-in-btn" mat-flat-button color="primary" type="submit">Log In</button>
                    </form>

                    <div class="copyright">&copy; {{currentYear}} Perx Technologies. All rights reserved.</div>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="right-banner-container">
            <div class="hover-text">
                <h1 class="mat-h1">Managing loyalty is as easy as sipping a cup of latte</h1>
                <p>
                    Perx is now equipped with more robust features like gamified campaigns, rewards, merchant and
                    customer segmentation with an advanced A.I. technology.
                </p>
                <button mat-stroked-button class="demo-btn">Watch Demo</button>
            </div>
        </div>
    </ng-template>
</div>
