
.login-spinner-container {
  //spinner is set to 30px in template
  margin: 1rem auto;
  width: 30px;
  height: 30px;
}

.failBlock {
  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }
}
