<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
      <app-table-actions-management
      fxFlex 
      fxLayout="row" 
      fxLayoutAlign="end"
      [shownColumns]="shownColumns"
      (reloadTableEmit)="reloadTable()"
      (changeTableHeaderSettingEmit)="changeTableHeaderSetting($event)"
    >
    </app-table-actions-management>
  </div>
  <ng-container class="messages-table" *ngIf="messages$ | async as messages">
    <app-filterable-table
        [filterInputPlaceholder]="'Find messages by message name'"
        [columnProperties]="columnProperties"
        [contents]="messages"
        [selectable]=true
        (selectionChange)="onMessagesSelectionChange($event)"
        [shownColumns]="shownColumns">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
