<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <mat-button-toggle-group
          aria-label="Other Actions"
          name="otherActions"
          (change)="onOtherActionsChange($event)">
        <mat-button-toggle value="reload">
          <mat-icon>refresh</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="settings">
          <mat-icon>settings</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="help">
          <mat-icon>help</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <ng-container class="messages-table" *ngIf="messages$ | async as messages">
    <app-filterable-table
        [filterInputPlaceholder]="'Find messages by message name'"
        [columnProperties]="columnProperties"
        [contents]="messages"
        [selectable]=true
        (selectionChange)="onMessagesSelectionChange($event)"
        [shownColumns]="shownColumns">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
