<div class="dismissable-container">
  <button class="close-button" mat-button aria-label="close">
    <mat-icon aria-hidden="true">clear</mat-icon>
  </button>
  <div class="content-container">
    <h1 class="mat-h1">Trump Ipsum</h1>
    <h2 class="mat-h2">Make placeholder text great again!</h2>
    <h3 class="mat-h3">One paragraph worth</h3>
    <p class="mat-body">
      All of the words in Lorem Ipsum have flirted with me - consciously or unconsciously. That's to be expected. I write the best placeholder text, and I'm the biggest developer on the web by far... While that's mock-ups and this is politics, are they really so different? You have so many different things placeholder text has to be able to do, and I don't believe Lorem Ipsum has the stamina. Be careful, or I will spill the beans on your placeholder text.
    </p>
  </div>
</div>
