<div class="container">
    <h3 class="mat-h3">Welcome to Identity and Access Management</h3>
    <h4 class="mat-h4">Comms resources</h4>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="'../campaigns'">
          Campaigns: {{campaignsCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../events'">
          Events: {{eventsCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../templates'">
          Templates: {{templatesCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../providers'">
          Providers: {{providersCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../messages'">
          Messages: {{messagesCount}}
        </a>
      </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>
  