<div class="container">
    <div class="action" fxLayout="row" fxLayoutGap="1rem">
      <button mat-raised-button color="primary" routerLink="new-pool">
        Add Pool
      </button>
      <button mat-raised-button [matMenuTriggerFor]="appMenu"
              [disabled]="!(selection && selection.selected.length)">
        Pool Actions
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="showDeleteConfirmationPopup()"
                [disabled]="!(selection && selection.selected.length)">
          Delete Pools<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span>
        </button>
        <button mat-menu-item
                (click)="editPoolNamePopup()"
                [disabled]="!(selection && selection.selected.length == 1)">
          Edit Pool Name
        </button>
      </mat-menu>
  
      <div fxFlex fxLayout="row" fxLayoutAlign="end">
        <mat-button-toggle-group
            aria-label="Other Actions"
            name="otherActions"
            (change)="onOtherActionsChange($event)">
          <mat-button-toggle value="reload">
            <mat-icon>refresh</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="settings">
            <mat-icon>settings</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="help">
            <mat-icon>help</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <ng-container class="pools-table" *ngIf="pools$ | async as pools">
      <app-filterable-table
          [filterInputPlaceholder]="'Find pools by pool name'"
          [columnProperties]="columnProperties"
          [contents]="pools"
          [selectable]=true
          (selectionChange)="onPoolsSelectionChange($event)"
          [shownColumns]="shownColumns">
      </app-filterable-table>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
