<div class="container">
    <div class="action" fxLayout="row" fxLayoutGap="1rem">
      <h1>Attach the policy to users, groups, or roles in your account</h1>
    </div>
    <ng-container class="policy-attach-table" *ngIf="users$ | async as users">
      <app-filterable-table
          [columnProperties]="columnProperties"
          [selectType]="'check'"
          [contents]="users"
          [selectable]=true
          (selectionChange)="onUsersSelectionChange($event)"
          [shownColumns]="shownColumns">
      </app-filterable-table>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
  