.table-container {
  margin: 2rem 0rem;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field {
  font-size: 1.4rem;
  padding: 1rem 1rem 0rem;
  width: 50%;
}

.mat-header-row {
  background: lightgray;
}
