h1 {
  font-size: 3rem;
  line-height: 3.7rem;
}

.container {
  display: flex;

  .login-spinner-container {
    //spinner is set to 30px in template
    margin: 1rem auto;
    width: 30px;
    height: 30px;
  }

  .failBlock {
    .title {
      text-align: center;
    }

    .subtitle {
      text-align: center;
    }
  }

  .left-form-container {
    width: 40%;
    height: 100vh;

    max-width: 50rem;

    .logo-container {
      margin-bottom: 10rem;
    }

    .mat-card {
      padding: 4rem;
      height: calc(100% - 8rem); //remove padding from mat-card height


      .log-in-btn, .mat-form-field {
        width: 100%;
        height: 4.5rem;
      }

      .mat-form-field {
        margin-top: 2rem;
      }

      .log-in-btn {
        margin-top: 4rem;
        font-size: 1.6rem;

      }

      .copyright {
        position: absolute;
        bottom: 6rem; //position at padding bottom
        color: grey;
      }
    }
  }

  .right-banner-container {
    flex-grow: 1;
    background-image: url("/assets/img/main-image.jpg");
    background-position: 20% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem;

    .hover-text {
      position: absolute;
      top: calc(4rem + 10rem + 49px); //todo: slightly off pixel perfect, maybe change mat-card-title to h1, px is size of logo
      color: white;
      width: 25vw;

      p {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      .demo-btn {
        font-size: 1.6rem;
        margin-top: 1.5rem;
        width: 13.5rem;
        height: 4.5rem;
        border-color: white !important;
      }
    }
  }
}
