<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <button mat-raised-button color="primary" routerLink="new-group">
      Add Group
    </button>
    <button mat-raised-button mat-raised-button [matMenuTriggerFor]="appMenu"
            >
            <!--[disabled]="!(selection && selection.selected.length)">-->
      Group Actions
    </button>
      <mat-menu #appMenu="matMenu">
          <button mat-menu-item>
              <!--[disabled]="!(selection && selection.selected.length)">-->
              Add Users to Group</button>
          <button mat-menu-item color="warn" (click)="removeGroups()">
                  <!--[disabled]="!(selection && selection.selected.length)">-->
              Delete Groups<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span>
          </button>
          <button mat-menu-item>
              <!--[disabled]="!(selection && selection.selected.length)">-->
              Edit Group Name</button>
          <button mat-menu-item>
              <!--[disabled]="!(selection && selection.selected.length)">-->
              Remove Users from Group</button>
      </mat-menu>

    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <mat-button-toggle-group
              aria-label="Other Actions"
              name="otherActions"
              (change)="onOtherActionsChange($event)"
      >
        <mat-button-toggle value="reload">
          <mat-icon>refresh</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="settings">
          <mat-icon>settings</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="help">
          <mat-icon>help</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <ng-container class="groups-table" *ngIf="document$ | async as document">
    <app-filterable-table
            [contents]="testGroupList"
            [selectable]=true
            (selectionChange)="onGroupsSelectionChange($event)"
            [shownColumns]="shownColumns"
    >
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
