<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <button *ngIf="!tabMode" mat-raised-button color="primary" routerLink="new-group">
      Add Group
    </button>
    <button *ngIf="!tabMode" mat-raised-button (click)="showDeleteConfirmationPopup()"
            [disabled]="!(selection && selection.selected.length)">
      Delete Groups<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span>
    </button>
    <button *ngIf="!tabMode" mat-raised-button
            (click)="editGroupNamePopup()"
            [disabled]="!(selection && selection.selected.length == 1)">
      Edit Group Name
    </button>
    <button *ngIf="tabMode" mat-raised-button color="primary" (click)="attachGroups()">
      Attach Groups<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span> to User
    </button>
    <button *ngIf="tabMode" mat-raised-button color="warn" (click)="showDetachConfirmationPopup()"
            [disabled]="!(selection && selection.selected.length)">
      Detach Groups<span style="vertical-align: unset" *ngIf="selection && selection.selected.length>1">s</span> from User
    </button>

    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <mat-button-toggle-group
          aria-label="Other Actions"
          name="otherActions"
          (change)="onOtherActionsChange($event)">
        <mat-button-toggle value="reload">
          <mat-icon>refresh</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="settings">
          <mat-icon>settings</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="help">
          <mat-icon>help</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <ng-container class="groups-table" *ngIf="groups$ | async as groups">
    <app-filterable-table
        [columnProperties]="columnProperties"
        [contents]="groups"
        [selectable]=true
        (selectionChange)="onGroupsSelectionChange($event)"
        [shownColumns]="shownColumns">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
