<div class="container">
  <mat-card-content>
    <ng-container class="groups-table" *ngIf="user$ | async as user">
      <app-filterable-table [columnProperties]="columnProperties" [contents]="user.groups" [selectable]=true
        (selectionChange)="onGroupsSelectionChange($event)" [shownColumns]="shownColumns">
      </app-filterable-table>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="button-container text-right">
      <span>
        <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
        <button mat-raised-button color="primary" (click)="attachGroupsToUser()">
          Attach Groups to User
        </button>
      </span>
    </div>
  </mat-card-actions>
</div>