<mat-card>
  <mat-card-title>Create New Pool</mat-card-title>
  <form [formGroup]="poolDetails" (ngSubmit)="submitForm()">

    <mat-horizontal-stepper linear>
      <mat-step label="Pool Details" [stepControl]="poolDetails" [editable]="isEditable">
        <mat-card-content>
          <ng-template matStepLabel>Set pool details</ng-template>
          <!--<mat-card-subtitle> You can add multiple pools at once with the same access type and permissions. Learn more </mat-card-subtitle>-->
          <mat-form-field>
            <mat-label>Pool Name</mat-label>
            <input matInput placeholder="Pool Name" formControlName="name" required>
            <mat-hint>Not more than 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Pool Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>


        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-stroked-button matStepperNext type="button">Next</button>

            </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Attach Policy">
        <mat-card-content>
          <ng-template matStepLabel>Set pool policies</ng-template>
          <div class="pool-policies">
            <mat-label>Attach Policies</mat-label>
            <ng-container class="policies-table" *ngIf="policies$ | async as policies">
              <app-filterable-table [columnProperties]="columnProperties" [contents]="policies" [selectable]=true
                (selectionChange)="onPolicySelectionChange($event)" [shownColumns]="shownColumns">
              </app-filterable-table>

            </ng-container>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
              <button mat-stroked-button matStepperPrevious>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>Back</span>
              </button>
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-stroked-button matStepperNext type="button">Next</button>
            </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Review" [editable]="false">
        <mat-card-content>
          <h2 class="mat-h2">Review details</h2>
          <h4 class="mat-h4">Pool details</h4>

          <mat-label>Pool Name:</mat-label>
          <div>{{poolDetails.get('name').value}}</div>

          <div class="access-types">
            <mat-label>Access Type:</mat-label>
            <div *ngIf="poolDetails.get('attachedPolicies').value">
              <div><strong>Attached Policies</strong></div>
              <ul>
                <li *ngFor="let policy of selection; index as i; ">
                  {{policy.name}}
                </li>
              </ul>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
              <button mat-stroked-button matStepperPrevious>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>Back</span>
              </button>
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Finish</button>
            </span>
          </div>
        </mat-card-actions>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>