<div class="container">
  <h1 class="mat-h1">
    Summary
  </h1>
  <div *ngIf="template$ | async as template">
    <mat-card>
      <mat-card-title>
        Detail
      </mat-card-title>
      <mat-card-content>
        <div *ngFor="let item of template.detail | keyvalue">
          <mat-list role="list">
            <mat-list-item role="listitem">{{item.key}}: {{item.value}}</mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>
      <mat-card-title>
        Campaigns
      </mat-card-title>
      <mat-card-content>
        <div *ngFor="let campaign of template.campaigns">
          <div *ngFor="let item of campaign | keyvalue">
            <mat-list role="list">
              <mat-list-item role="listitem">{{item.key}}: {{item.value}}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
      <!-- 
       <mat-card-title>
        Events
      </mat-card-title>
      <mat-card-content>
      <div *ngFor="let event of template.events">
        <div *ngFor="let item of event | keyvalue">
          <mat-list role="list">
            <mat-list-item role="listitem">{{item.key}}: {{item.value}}</mat-list-item>
          </mat-list>
        </div>
      </div>
      </mat-card-content>
      -->
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>