<mat-card-content>
    <div class="container">
      <ng-container class="events-table" *ngIf="campaign$ | async as campaign">
        <app-filterable-table [columnProperties]="columnProperties" [contents]="campaign.events" [selectable]=true
          (selectionChange)="onEventsSelectionChange($event)" [shownColumns]="shownColumns">
        </app-filterable-table>
      </ng-container>
    </div>
    <router-outlet></router-outlet>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <div class="button-container text-right">
      <span>
        <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
        <button mat-raised-button color="primary" (click)="attachEventsToCampaign()">
          Attach Events to Campaign
        </button>
      </span>
    </div>
  </mat-card-actions>