<mat-card>
  <mat-card-title>Create New Event</mat-card-title>
  <form [formGroup]="eventDetailsGroup" (ngSubmit)="submitForm()">

    <mat-horizontal-stepper formArrayName="formArray" linear>
      <mat-step label="Set Event Details" formGroupName="0" [stepControl]="formArray.get([0])" [editable]="isEditable">
        <mat-card-content>
          <!--<mat-card-subtitle> You can add multiple users at once with the same access type and permissions. Learn more </mat-card-subtitle>-->
          <mat-form-field>
            <mat-label>Event Name:</mat-label>
            <input matInput formControlName="eventName" required>
            <mat-hint align="end">Not more than 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError(0, 'eventName', 'required')">Event name is required</mat-error>
            <mat-error *ngIf="hasError(0, 'eventName', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Channel Type:</mat-label>
            <mat-select formControlName="channel">
              <!--              <mat-option *ngFor="let channel of channels" [value]="channel.value">-->
              <!--                {{channel.value}}-->
              <!--              </mat-option>-->
              <mat-option value="sms">SMS</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError(0,'channel','required')">Please select an option</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Send date:</mat-label>
            <input matInput [matDatepicker]="sendAtDatepicker" formControlName="sendDate">
            <mat-datepicker-toggle matSuffix [for]="sendAtDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #sendAtDatepicker></mat-datepicker>
            <mat-error *ngIf="hasError(0,'sendDate','required')">Please select an option</mat-error>
          </mat-form-field>
          <div>
          <mat-form-field>
            <mat-label>Send time:</mat-label>
            <input matInput [ngxTimepicker]="sendAtTimepicker" [format]="24" readonly formControlName="sendTime">
            <ngx-material-timepicker-toggle matSuffix [for]="sendAtTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #sendAtTimepicker></ngx-material-timepicker>
            <mat-error *ngIf="hasError(0,'sendTime','required')">Please select a time</mat-error>
          </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Target Cognito Pool" formGroupName="1" [stepControl]="formArray.get([1])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="cognito-table" *ngIf="cognitoPools$ | async as cognitoPools">
            <app-filterable-table
                [columnProperties]="columnProperties"
                [contents]="cognitoPools"
                [selectable]=true
                (selectionChange)="onCognitoPoolSelectionChange($event)"
                [shownColumns]="shownColumns"
            >
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Assign Campaign" formGroupName="2" [stepControl]="formArray.get([2])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="campaign-table" *ngIf="campaigns$ | async as campaigns">
            <app-filterable-table
                [columnProperties]="campaignsColumnProperties"
                [contents]="campaigns"
                [selectable]=true
                (selectionChange)="onCampaignsSelectionChange($event)"
                [shownColumns]="shownColumns"
            >
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Choose provider" formGroupName="3" [stepControl]="formArray.get([3])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="provider-table" *ngIf="providers$ | async as providers">
            <app-filterable-table
                [columnProperties]="providerColumnProperties"
                [contents]="providers"
                [selectable]=true
                (selectionChange)="onProviderSelectionChange($event)"
                [shownColumns]="shownColumns"
            >
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Choose template" formGroupName="4" [stepControl]="formArray.get([4])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="templates-table" *ngIf="templates$ | async as templates">
            <app-filterable-table
                [columnProperties]="templateColumnProperties"
                [contents]="templates"
                [selectable]=true
                (selectionChange)="onTemplateSelectionChange($event)"
                [shownColumns]="shownColumns"
            >
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Review" [editable]="false">
        <mat-card-content>
          <h2 class="mat-h2">Review details</h2>
          <h4 class="mat-h4">User details</h4>

          <mat-label>Event Name:</mat-label>
          <div>{{formArray.get([0]).get('eventName').value}}</div>

          <mat-label>Delivery Channel:</mat-label>
          <div>{{formArray.get([0]).get('channel').value}}</div>

          <mat-label>Send Date:</mat-label>
          <div>{{formArray.get([0]).get('sendDate').value}}</div>

          <mat-label>Target Cognito group:</mat-label>
          <div>[{{formArray.get([1]).get('targetType').value}}] {{formArray.get([1]).get('targetId').value}}</div>

          <mat-label>Campaign:</mat-label>
          <div>{{formArray.get([2]).get('campaignId').value}}</div>

          <mat-label>Provider:</mat-label>
          <div>{{formArray.get([3]).get('providerId').value}}</div>

          <mat-label>Template:</mat-label>
          <div>{{formArray.get([4]).get('templateId').value}}</div>

        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Finish</button>
        </span>
          </div>
        </mat-card-actions>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
