<div class="container">
  <div class="action" fxLayout="row" fxLayoutGap="1rem">
    <button mat-raised-button color="primary">
      Upload File
    </button>
    <app-table-actions-management
      fxFlex 
      fxLayout="row" 
      fxLayoutAlign="end"
      [tablePlatform]="'essentials'"
      [tableModule]="'storage'"
      [tableName]="'files-table'"
      [shownColumns]="shownColumns"
      (reloadTableEmit)="reloadTable()"
      (changeTableHeaderSettingEmit)="changeTableHeaderSetting($event)"
    >
    </app-table-actions-management>
  <ng-container class="files-table" *ngIf="files$ | async as files">
    <app-filterable-table
        [filterInputPlaceholder]="'Find files by campaign name'"
        [columnProperties]="columnProperties"
        [contents]="files"
        [selectable]=true
        (selectionChange)="onFilesSelectionChange($event)"
        [shownColumns]="shownColumns">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
