<app-header [enableMenuButton]=true (menuButtonClick)="menuButtonClick()"></app-header>
<mat-sidenav-container class="core-container">
    <mat-sidenav #mainnav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/dashboard'">Dashboard</a>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/iam'">IAM</a>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/cognito'">Cognito</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!--<button mat-stroked-button (click)="mainnav.toggle()">mainnav.toggle()</button>-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
