p {
  margin: 1rem 0;
}

.container {
  padding: 0 1rem;
  .content {
    .row {
      overflow: hidden;
      min-height: 265px;
    }
  }
}

.users-table {
  padding: 2rem 0;
}

.action {
  align-items: center;
}
