.table-container {
  margin: 2rem 0;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field {
  font-size: 1.4rem;
  padding: 1rem 1rem 0;
  width: 50%;
}

.mat-header-row {
  background: lightgray;
}

.no-data-container {
  padding: 1rem;
  font-size: 1.4rem;
}
