.table-container {
  margin: 2rem 0;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field {
  font-size: 1.4rem;
  padding: 1rem 1rem 0;
  width: 50%;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 1rem;
}

td.mat-cell a {
  word-break: break-all;
}

tr:nth-child(even) {background: rgba(232, 232, 232, 0.3)}
tr:nth-child(odd) {background: #FFF}

tr.mat-header-row {
  background: lightgray;
}
.mat-header-row {
  background: lightgray;
}

.no-data-container {
  padding: 1rem;
  font-size: 1.4rem;
}
