<mat-card-content>
  <div class="container">
    <ng-container class="users-table" *ngIf="group$ | async as group">
      <app-filterable-table [columnProperties]="columnProperties" [contents]="group.users" [selectable]=true
        (selectionChange)="onUsersSelectionChange($event)" [shownColumns]="shownColumns">
      </app-filterable-table>
    </ng-container>
  </div>
  <router-outlet></router-outlet>
</mat-card-content>
<mat-divider></mat-divider>
<mat-card-actions>
  <div class="button-container text-right">
    <span>
      <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
      <button mat-raised-button color="primary" (click)="attachUsersToGroup()">
        Attach Users to Group
      </button>
    </span>
  </div>
</mat-card-actions>