<div class="container">
    <h3 class="mat-h3">Welcome to Identity and Access Management</h3>
    <h4 class="mat-h4">IAM resources</h4>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="'../users'">
          Users: {{usersCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../groups'">
          Groups: {{groupsCount}}
        </a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'../policies'">
          Policies: {{policiesCount}}
        </a>
      </mat-list-item>
    </mat-list>
</div>
<router-outlet></router-outlet>
  