<div #dismissable>
  <app-dismissable-content (closeButtonClick)="closeButtonClick()">
  </app-dismissable-content>
</div>
<div class="container">
  <div fxLayout="row" fxLayoutGap="2rem">
    <button mat-raised-button color="primary" (click)="addUser()">
      Add User
    </button>
    <button mat-raised-button mat-raised-button color="warn" (click)="removeUsers(0)">
      Remove Users
    </button>
    <div fxFlex fxLayout="row" fxLayoutAlign="end">
      <mat-button-toggle-group
        aria-label="Other Actions" 
        name="otherActions" 
        (change)="onOtherActionsChange($event)"
      >
        <mat-button-toggle value="reload">
          <mat-icon>refresh</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="settings">
          <mat-icon>settings</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="help">
          <mat-icon>help</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <ng-container class="users-table" *ngIf="document$ | async as document">
    <app-filterable-table
      [contents]="document.getModels()">
    </app-filterable-table>
  </ng-container>
</div>
<router-outlet></router-outlet>
