<div #dismissable>
  <app-dismissable-content (closeButtonClick)="closeButtonClick()">
  </app-dismissable-content>
</div>
<div class="button-row">
  <a mat-raised-button color="primary" (click)="addUser()">
    Add User
  </a>
  <a mat-raised-button color="warn" (click)="removeUsers()">
    Remove Users
  </a>
</div>
<div class="users-table" *ngIf="users$ | async as users">
  <app-filterable-table 
    *ngIf="users.length"
    [headers]="tableHeaders"
    [contents]="users">
  </app-filterable-table>
</div>
<router-outlet></router-outlet>
