<mat-card>
  <mat-card-title>Create New Campaign</mat-card-title>
  <form [formGroup]="campaignDetailsGroup" (ngSubmit)="submitForm()">

    <mat-horizontal-stepper formArrayName="formArray" linear>
      <mat-step label="Set Campaign Name" formGroupName="0" [stepControl]="formArray.get([0])" [editable]="isEditable">
        <mat-card-content>
          <!--<mat-card-subtitle> You can add multiple users at once with the same access type and permissions. Learn more </mat-card-subtitle>-->
          <mat-form-field>
            <mat-label>Campaign Name:</mat-label>
            <input matInput formControlName="name" required>
            <mat-hint align="end">Not more than 140 characters long.</mat-hint>
            <mat-error *ngIf="hasError(0, 'name', 'required')">Event name is required</mat-error>
            <mat-error *ngIf="hasError(0, 'name', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Attach Cognito Group" formGroupName="1" [stepControl]="formArray.get([1])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="cognito-table" *ngIf="cognitoGroups$ | async as cognitoGroups">
            <app-filterable-table
                [columnProperties]="columnProperties"
                [contents]="cognitoGroups"
                [selectable]=true
                (selectionChange)="onCognitoGroupSelectionChange($event)"
                [shownColumns]="shownColumns"
            >
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-stroked-button matStepperNext type="button">Next</button>

        </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Review" [editable]="false">
        <mat-card-content>
          <h3 class="mat-h3">Review details</h3>
          <h4 class="mat-h4">User details</h4>

          <mat-label>Event Name:</mat-label>
          <div>{{formArray.get([0]).get('name').value}}</div>


          <mat-label>Target Group:</mat-label>
          <div>{{formArray.get([1]).get('cognitoEndpointId').value}}</div>

        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
        <span class="align-left">
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>Back</span></button>
        </span>
            <span class="align-right">
          <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Finish</button>
        </span>
          </div>
        </mat-card-actions>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
