<mat-card>
  <mat-card-title>Create New Template</mat-card-title>
  <form [formGroup]="templateDetailsGroup" (ngSubmit)="submitForm()">

    <mat-horizontal-stepper formArrayName="formArray" linear>
      <mat-step label="Template Details" formGroupName="0" [stepControl]="formArray.get([0])" [editable]="isEditable">
        <mat-card-content>
          <ng-template matStepLabel>Set template details</ng-template>
          <!--<mat-card-subtitle> You can add multiple templates at once with the same access type and permissions. Learn more </mat-card-subtitle>-->
          <mat-form-field>
            <mat-label>Template name</mat-label>
            <input matInput placeholder="Template name" formControlName="templateName" required>
            <mat-hint align="end">Not more than 140 characters long.</mat-hint>
            <mat-error *ngIf="hasError(0, 'templateName', 'required')">Template name is required</mat-error>
            <mat-error *ngIf="hasError(0, 'templateName', 'maxlength')">You have more than 140 characters</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Template Description:</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>

          <div class="access-types">
            <mat-form-field>
              <mat-label>Content:</mat-label>
              <textarea matInput placeholder="template content" formControlName="content"></textarea>
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-stroked-button matStepperNext type="button">Next</button>

            </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Assign Campaign" formGroupName="1" [stepControl]="formArray.get([1])" [editable]="isEditable">
        <mat-card-content>
          <ng-container class="campaign-table" *ngIf="campaigns$ | async as campaigns">
            <app-filterable-table [columnProperties]="campaignsColumnProperties" [contents]="campaigns"
              [selectable]=true (selectionChange)="onCampaignsSelectionChange($event)" [shownColumns]="shownColumns">
            </app-filterable-table>

          </ng-container>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
              <button mat-stroked-button matStepperPrevious>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>Back</span>
              </button>
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-stroked-button matStepperNext type="button">Next</button>

            </span>
          </div>
        </mat-card-actions>
      </mat-step>
      <mat-step label="Review" [editable]="false">
        <mat-card-content>
          <h2 class="mat-h2">Review details</h2>
          <h4 class="mat-h4">Template details</h4>

          <mat-label>Template name:</mat-label>
          <div>{{formArray.get([0]).get('templateName').value}}</div>

          <mat-label>Description:</mat-label>
          <div>{{formArray.get([0]).get('description').value}}</div>

          <div class="access-types">
            <mat-label>Content:</mat-label>
            <div *ngIf="formArray.get([0]).get('content').value">
              <div>
                <p>{{formArray.get([0]).get('content').value}}</p>
              </div>
            </div>
          </div>

          <mat-label>Campaigns:</mat-label>
          <div *ngFor="let campaign of formArray.get([1]).get('campaigns').value">
            <div *ngFor="let item of campaign | keyvalue">
              <div *ngIf="item.value">
                <mat-label>{{item.key}}:</mat-label>
                <div>{{item.value}}</div>
              </div>
            </div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <div class="button-container">
            <span class="align-left">
              <button mat-stroked-button matStepperPrevious>
                <mat-icon>keyboard_arrow_left</mat-icon>
                <span>Back</span>
              </button>
            </span>
            <span class="align-right">
              <button mat-button color="warn" (click)="cancelClicked()" type="button">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Finish</button>
            </span>
          </div>
        </mat-card-actions>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>