.core-container {
  height: calc(100% - 6.4rem);
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  height: 6.4rem;
}

.logo {
  height: 50%;
}

a {
  color: black;
  text-decoration: none;
}

.active-service {
  border-left: 3px solid #e07700;
}
