<mat-sidenav-container class="core-container">
    <mat-sidenav #mainnav mode="side" [(opened)]="opened">
        <mat-nav-list>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/dashboard'">Dashboard</a>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/iam'">IAM</a>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/cognito'">Cognito</a>
            <a mat-list-item
               routerLinkActive="mat-accent"
               [routerLinkActiveOptions]="{exact: true}"
               [routerLink]="'/campaigns'">Campaigns</a>
        </mat-nav-list>

        <button mat-stroked-button (click)="mainnav.toggle()" style="margin-top: 100px">mainnav.toggle()</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
